/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  max-width: 1430px;
}
* h2 {
  text-align: center;
  font-size: 32px;
  margin: 100px 0px 50px 0px;
}
* p {
  font-size: 14px;
}

#topic1 .allCards {
  display: flex;
  justify-content: center;
}
#topic1 .card {
  border: solid 1px #808080;
  width: 300px;
  height: 400px;
}
#topic1 .title {
  background-color: #eaf0ed;
  height: 200px;
  text-align: center;
  padding-top: 80px;
  color: #47634d;
  font-weight: bold;
  font-size: 48px;
}
#topic1 .why {
  padding: 10px;
  line-height: 24px;
}
#topic1 .why h3 {
  margin: 10px 0px;
  color: #47634d;
  font-weight: bold;
  font-size: 20px;
}

#topic2 .two_cols {
  display: flex;
  height: 400px;
}
#topic2 .logo {
  min-width: 50%;
  border-radius: 5%;
  padding: 50px;
  background-color: #eaf0ed;
  padding: 100px;
  text-align: center;
}
#topic2 .select {
  min-width: 50%;
  border-radius: 5%;
  padding: 50px;
  background-color: #eaf0ed;
  margin-left: 10px;
}
#topic2 .select h3 {
  margin: 30px 0px;
  color: #47634d;
  font-weight: bold;
  font-size: 20px;
}
#topic2 .select p {
  line-height: 24px;
}

#topic3 .two_cols_menu {
  display: flex;
}
#topic3 .menu {
  background-color: #eaf0ed;
}
#topic3 .menu img {
  padding: 40px 20px 10px 20px;
}
#topic3 .menu .menu_select {
  width: 220px;
  padding-left: 140px;
}
#topic3 .menu .menu_select h4 {
  margin-bottom: 30px;
  color: #47634d;
  cursor: pointer;
}
#topic3 .doc_intro {
  margin: 50px;
}
#topic3 .doc_intro h3 {
  color: #47634d;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
#topic3 .doc_intro p {
  line-height: 30px;
  margin-bottom: 20px;
}
#topic3 .doc_intro .photo {
  display: flex;
  flex-wrap: wrap;
}

#topic4 .navbar {
  display: flex;
  background-color: #eaf0ed;
  height: 100px;
  justify-content: space-between;
  box-shadow: 0px 3px 3px #808080;
}
#topic4 img {
  margin: 20px 50px;
}
#topic4 .navbar_select {
  display: flex;
}
#topic4 .navbar_select_btn {
  color: #47634d;
  margin: 45px 20px;
  cursor: pointer;
  font-weight: bold;
}
#topic4 .content {
  margin: 50px 350px;
}
#topic4 .content_doc {
  width: 700px;
}
#topic4 .content_doc img {
  margin: 0px;
}
#topic4 .content_doc h3 {
  color: #47634d;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
#topic4 .content_doc p {
  line-height: 30px;
}
#topic4 .footer {
  background-color: #47634d;
}
#topic4 .footer_select {
  display: flex;
  color: #fff;
  justify-content: center;
}
#topic4 .footer_select .footer_btn {
  padding: 30px;
  padding-right: 40px;
  cursor: pointer;
}

#topic5 .layout1 {
  display: flex;
  background-color: #eaf0ed;
}
#topic5 .layout_model {
  display: flex;
  padding: 30px;
}
#topic5 .layout_text {
  margin-left: 10px;
  color: #47634d;
}
#topic5 .layout_text h3 {
  color: #47634d;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
}
#topic5 .layout_text p {
  line-height: 24px;
}
#topic5 .layout2 {
  display: flex;
  margin-top: 30px;
  background-color: #eaf0ed;
}
#topic5 .layout_model2 {
  text-align: center;
  margin: 20px;
}
#topic5 .layout3 {
  background-color: #eaf0ed;
  margin-top: 30px;
  padding: 30px;
}
#topic5 .layout_model3 {
  display: flex;
  margin-bottom: 20px;
}
#topic5 .layout_model3 .layout_text.text3 {
  margin-top: 30px;
}

#topic6 .navbar2 {
  display: flex;
  justify-content: space-between;
  background-color: #eaf0ed;
}
#topic6 .navbar2 img {
  margin: 0px 50px;
}
#topic6 .navbar2 h4 {
  padding: 22px;
  cursor: pointer;
  font-weight: bold;
  color: #47634d;
}
#topic6 .content2 {
  display: flex;
  padding: 30px;
}
#topic6 .content2 .content_text {
  margin: 30px 30px 0px 30px;
}
#topic6 .content2 .content_text h3 {
  color: #47634d;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}
#topic6 .content2 .content_text p {
  line-height: 24px;
  margin-bottom: 180px;
}
#topic6 .content2 a {
  color: #47634d;
}

#topic7 .page1 {
  background-color: #eaf0ed;
  text-align: center;
  padding: 100px;
}
#topic7 .page1 h3 {
  color: #47634d;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  letter-spacing: 5px;
}
#topic7 .footer2 {
  display: flex;
  justify-content: space-between;
}
#topic7 .footer2 img {
  margin: 15px 0px 15px 30px;
}
#topic7 .footer_select2 {
  display: flex;
  margin-right: 30px;
}
#topic7 .footer_select2 .footer_btn2 {
  cursor: pointer;
  margin: 35px 20px;
}

#topic8 .photoWithText {
  display: flex;
}
#topic8 .photoWithText_text {
  background-color: #bbdad6;
}
#topic8 .photoWithText_text h2 {
  color: #fff;
  text-align: left;
  margin: 0 auto;
  padding: 300px 50px;
  line-height: 60px;
}

#topic9 {
  width: 40%;
  margin: 0 auto;
}
#topic9 .order_pay,
#topic9 .cart_list {
  border: solid 1px #eaf0ed;
}
#topic9 .cart_list {
  margin-top: 20px;
}
#topic9 .order_title,
#topic9 .cart_list_title {
  background-color: #eaf0ed;
}
#topic9 .order_title h3,
#topic9 .cart_list_title h3 {
  color: #47634d;
  font-weight: bold;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding: 30px 0px;
}
#topic9 .order_cost {
  display: flex;
  justify-content: space-between;
  color: #47634d;
  margin: 20px;
  font-weight: bold;
}
#topic9 .order_cost.cost3 {
  margin-top: 40px;
}
#topic9 .cart_product {
  display: flex;
  padding: 20px;
}
#topic9 .cart_product .cart_product_text {
  margin: 20px;
  color: #47634d;
}
#topic9 .cart_product .cart_product_text h3 {
  font-weight: bold;
  margin-top: 5px;
}

#topic10 .dessertAll {
  display: flex;
}
#topic10 .dessert_list {
  margin-left: 80px;
}
#topic10 .dessert_list .list_btn {
  background-color: #fff;
  text-align: center;
  padding: 20px 60px;
  border: solid 1px #eaf0ed;
  color: #47634d;
  font-weight: bold;
}
#topic10 .dessert_list .list_btn:hover {
  background-color: #eaf0ed;
}
#topic10 .dessert_list .list_btn.btn1 {
  background-color: #47634d;
  color: #fff;
}
#topic10 .dessert_produce {
  display: flex;
  flex-wrap: wrap;
}
#topic10 .produce {
  margin-left: 30px;
  border: solid 1px #eaf0ed;
  margin-bottom: 30px;
}
#topic10 .produce .dessert_text {
  display: flex;
  text-align: center;
}
#topic10 .produce .dessert_text .text {
  color: #47634d;
  padding: 20px 50px;
}
#topic10 .produce .dessert_text .text.text2 {
  font-weight: bold;
  border-left: solid 1px #eaf0ed;
  padding: 20px;
  padding-left: 30px;
}
#topic10 .produce .btn_plusCart {
  color: #47634d;
  font-weight: bold;
  background-color: #eaf0ed;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}/*# sourceMappingURL=all.css.map */